@media  screen and (max-width:1300px){
	
	.bereza{
	color:#29b6a6;
	text-shadow: -5px 5px 2px black
}
.area-1 h1{
	color:black;
}

	@keyframes animate0{
0%,100%{
	transform:scale(1) rotate(0) skew(20deg) translateY(0);
}
50%{
	transform:scale(1.17) rotate(0) skew(20deg) translateY(-20px);
	
    }
}
@media  screen and (max-width:938px){
	.area-1 h1{
		font-size: 2.2em;
		color:black;
	}
	.bereza{
	color:#29b6a6;
	text-shadow: -2px 2px 2px black
}
}
