

@media  screen and (max-width:968px){
	.wrapper{
		width: 100%;

	}
	header{
		height:100px;
		border-radius: 5px;
	}
	article{
			background:#04aff7;
        margin-top:4px;
        height:55px;
        display: block;
        position: absolute;
	}
	.knopka{
		display: block;
		margin-top:15px;
		z-index: 1;
		cursor: pointer
	}
     #move{
		 background: #880e4f;
         position: absolute;
         left:-305px;
         top:-105px;
         height:1000px;
         display: block;
         transition: 0.3s;
		}
	#move p:first-child{
		margin-top:100px;
	}

	#move button{
		margin-top:-10px
	}
	#cool{
		width:32px;
	height:21px;
	top:2px;
	left:6px;
	background: #6f6e6d;
	border-radius: 2px;
	position: absolute;
	transition: 0.3s;
	z-index: 1
	}
    .mave{
    	transform:translateX(305px)
    }
    .up{
    	transform:translateY(-70px) translateX(30px) rotate(180deg)
    }
	aside{
		width:100%;
		margin-top:4px;
		float: none
	}
	.bar{
		background: #d6fdf1;
		border-radius: 2px;
		width:98%;
		height:50px;
	}
	section{
		width: 100%;
		margin-top:50px;
		min-height:250px;
		float: none;
	}
	footer{
		height:55px;
		margin-top:4px;
	}
}